@import "bootstrap/scss/bootstrap-grid";

:root {
  --black: #000;
  --white: #fff;
  --gray: #eae9e6;
  --yellow: #ebca53;
  --blue: #2c5192;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 60px 0;
  font-family: "Noto Sans";
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 30px 0 10px;
  font-size: 24px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

video {
  display: block;
  width: 100%;
  border: 1px solid var(--black);
}

.exercise {
  padding: 20px;
  background: var(--gray);
  border: 1px solid var(--black);
}

.product {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background: var(--white);
}

.product-image {
  position: relative;
}

.product-cart {
  position: absolute;
  inset: auto 10px 10px;
  padding: 6px;
  background: var(--yellow);
  border: solid 1px var(--blue);
  border-radius: 20px;
  text-align: center;
}

.product-title {
  font-size: 16px;
  font-weight: 500;
}

.product-price {
  opacity: 0.5;
  font-size: 14px;
}

.share {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin: 50px;
}

.share-icon {
  height: 24px;
}

.share-list {
  display: flex;
  gap: 12px;
}

// ---------------------------------------------
// 01 marker
.marker .product-cart:hover {
  background: #2c5192;
}

.marker .product-cart {
  transition: 0.5s;
}

.product-cart {
  opacity: 0;
}

.marker:hover .product-cart {
  opacity: 1;
}

//02 pencil
.pencil .product-cart:hover {
  background: #2c5192;
}

.pencil .product-cart {
  transition: 0.5s;
}

.product-cart {
  opacity: 0;
  transform: translateY(-300%);
}

.pencil:hover .product-cart {
  opacity: 1;
  transform: translateY(0%);
}

//03 scissors
.scissors:hover {
  background: #2c5192;
  color: #eae9e6;
}

.scissors {
  transition: background 0.5s;
}

//04 sketchbook
.sketchbook:hover .product-image img {
  transform: scale(1.2);
}
.sketchbook img {
  transition: transform 0.5s;
}

.product-image {
  overflow: hidden;
}

//05 glue
.glue img {
  filter: blur(3);
  transition: 0.5s;
}

.glue img:hover {
  filter: blur(0);
}

//06 share
.share:hover .share-list .share-icon {
  opacity: 1;
  transform: translateY(0%);
}

.share-list .share-icon {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-100%);
}

.share-list .share-icon:nth-child(2) {
  transition-delay: 0.5s;
}

.share-list .share-icon:nth-child(3) {
  transition-delay: 1s;
}

// ---------------------------------------------
